@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: "Ubuntu";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root
{
--body-color: #e49f7e;
--sidebar-color: #fff;
--primary-color: #695cfe;
--primary-color-ligth: #f6f5ff;
--toggle-color: #ddd;
--text-color: #FFFFFF;

--tran-02: all 0.2s ease;
--tran-03: all 0.3s ease;
--tran-04: all 0.4s ease;
--tran-05: all 0.5s ease;
}


.header-profile
{
    width:50px; /* Tamanho um pouco menor para se encaixar na posição do círculo */
    height: auto;
    position: relative;
    border-radius: 100vmin;
    border: 3px solid #E6853A; 
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);  
}