<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="auth.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="/E-commerce WEB API - Teste técnico Rota/Views/icon/syshotel-icon.ico" type="image/x-icon">

    <title>Screen_Auth</title>
</head>
<body>
    <div class="syshotel-logo">
    <img src="Images/SysHotel-logo.png">
    </div>
    <div class="card-login">
        <h2>Bem-Vindo!</h2>

          <img src="Images/user-login.png" alt="user-img
          " class="user-login-img">
          <br>
        <h3>Faça seu login e aproveite nossos serviços!</h3>
        <form class="form-login">
            <div class="input-box">
                <input type="email" id="email" placeholder="Email" required>
                <i class="fa fa-user"></i>
            </div>
            <div class="input-box">
                <input type="password" id="password" placeholder="Senha" required>
                <i class="fa fa-lock"></i>
            </div>

            <div class="options">
                <label><input type="checkbox"> Lembrar de mim</label>
                <a href="#">Esqueceu a senha?</a>
            </div>

            <button type="submit">Entrar</button>

            <p class="register">Não possui uma conta? <a href="register.html">Cadastre-se</a></p>
        </form>
    </div>
</body>
</html>
